In [5]:
import sqlite3 as lite
import pandas as pd


cities = (('New York City', 'NY'),
          ('Boston', 'MA'),
          ('Chicago', 'IL'),
          ('Miami', 'FL'),
          ('Dallas', 'TX'),
          ('Seattle', 'WA'),
          ('Portland', 'OR'),
          ('San Francisco', 'CA'),
          ('Los Angeles', 'CA'),
          ('Washington', 'DC'),
          ('Houston', 'TX'),
          ('Las Vegas', 'NV'),
          ('Atlanta', 'GA'))
weather = (('New York City', 2013, 'July', 'January', 62),
          ('Boston', 2013, 'July', 'January', 59),
          ('Chicago', 2013, 'July', 'January', 59),
          ('Miami', 2013, 'August', 'January', 84),
          ('Dallas', 2013, 'July', 'January', 77),
          ('Seattle', 2013, 'July', 'January', 61),
          ('Portland', 2013, 'July', 'December', 63),
          ('San Francisco', 2013, 'September', 'December', 64),
          ('Los Angeles', 2013, 'September', 'December', 75),
          ('Washington', 2013 , 'July', 'January', 77),
          ('Houston', 2013, 'July', 'January', 80),
          ('Las Vegas', 2013, 'July', 'December', 81),
          ('Atlanta', 2013, 'July', 'January', 80))

In [6]:
con = lite.connect('weather_data.db')

with con:
    cur = con.cursor()
    cur.execute('drop table if exists cities;')
    cur.execute('drop table if exists weather;')
    cur.execute('create table cities (name text, state text);')
    cur.executemany('insert into cities values (?,?);', cities)
    cur.execute('create table weather (city text, year integer, warm_month text, \
               cold_month text, average_high integer);')
    cur.executemany('insert into weather values (?,?,?,?,?);', weather)
    cur.execute("select name, state, warm_month from cities \
                 join weather on name = city where warm_month = 'July';")
    rows = cur.fetchall()
    cols = [desc[0] for desc in cur.description]
    df = pd.DataFrame(rows, columns = cols)

In [7]:
results = [x for x in (df['name'] + ', ' + df['state'])]
print('The cities that are warmest in July are: {} and {}.'.format(', '.join(results[:-1]), 
                                                                   results[-1]))

The cities that are warmest in July are: New York City, NY, Boston, MA, Chicago, IL, Dallas, TX, Seattle, WA, Portland, OR, Washington, DC, Houston, TX, Las Vegas, NV and Atlanta, GA.